body{
  font-family: 'Roboto', sans-serif;
}
main p{
  color: #5b6987;
}
/* typo */
h2{
  font-size: 36px;
  font-weight: 700;
}
p{
  font-size: 19px;
}
/* /typo */
/* COLORI */
.first_color_text{
  color: #006aff;
}
.first_color_back{
  background-color: #006aff;
}
.second_color_text{
  color: hsl(221, 93%, 16%);
}
.second_color_back{
  background-color: hsl(221, 93%, 16%);
}
.third_color_text{
  color: #5b6987;
}
.third_color_back{
  background-color: #5b6987;
}
.fourth_color_text{
  color: #f3f5f9;
}
.fourth_color_back{
  background-color: #f3f5f9;
}
.white_color_text{
  color: white;
}
.white_color_back{
  background-color: white;
}
/* /COLORI */
/* -------------MIX---------------- */
.list-inline{
  margin-bottom: 0px;
}
.d_inline{
  display: inline-block;
}
.d_block{
  display: block;
}
.padding_main_sec{
  padding: 50px 0px;
}
.padding_main_sec_small{
  padding: 30px 0px;
}
.padding_main_sec_footer{
  padding: 15px 0px;
}
.container_small{
  max-width: 1000px;
  margin: auto;
  padding: 50px 0px;
}
/* -------------/MIX---------------- */

/* ----------------CORPO DELLA PAGINA------------- */
/* section 1 "sponsor" */
.sponsor h5{
  font-size: 18px;
}
.sponsor p a{
  font-size: 16px;
  font-weight: 500;
}
.container_flexbox{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: baseline;
}
.box_img_sponsor{
  flex-basis: calc(100% / 6);
  padding: 10px;
}
.box_img_sponsor img{
  width: 100%;
  height: auto;
}
/* /section 1 "sponsor" */
/* section 2 "descrizione1" */
.container_m{
  width: 70%;
  margin: auto;
}
.container_flexbox2{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.item_menu{
  flex-basis: 200px;
}
.item_descrizione{
  flex-basis: 700px;
}
.wrapper_box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box_descrizione1{
  flex-basis: calc(100% / 2);
  padding: 10px 20px;
}
.lat_menu{
  list-style: none;
  line-height: 40px;
  margin-bottom: 30px;
  padding: 20px;
}
.lat_menu li{
  border-left: 1px solid #5b6987;
}
.lat_menu li a{
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}
.box_descrizione1 p{
  font-size: 14px;
  font-weight: 500;
}
.box_descrizione1 a{
  font-size: 16px;
  font-weight: 500;
}
/* ----------------/CORPO DELLA PAGINA------------- */

/* Media QUery */
@media screen and (max-width: 768px) {
  .container_flexbox{
    display: flex;
    flex-wrap: wrap;
  }
  .box_img_sponsor{
    flex-basis: calc(100% / 2);
  }
  .container_flexbox2{
    display: flex;
    flex-wrap: wrap;
  }
  .item_menu{
    flex-basis: 100%;
  }
  .item_descrizione{
    flex-basis: 100%;
  }
  .wrapper_box{
    display: flex;
    flex-wrap: wrap;
  }
  .box_descrizione1{
    flex-basis: 100%;
  }
}
/* /Media QUery */
